<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      formControlName="Email"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
    <div
      class="text-danger"
      *ngIf="!profileForm.valid && profileForm.controls['Email'].touched"
    >
      Required Field
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      formControlName="Password"
      id="exampleInputPassword1"
      placeholder="Password"
    />
  </div>
  <div
    class="text-danger"
    *ngIf="!profileForm.valid && profileForm.controls['Password'].touched"
  >
    Required Field
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">
    Submit
  </button>
  <button class="btn btn-default" (click)="opt()">Opt-Out</button>
</form>

<div
  [class]="submit || optout ? 'alert-success' : 'alert-danger'"
  class="alert alert-dismissible d-flex align-items-center fade show"
  *ngIf="submit || optout"
>
  <i
    [class]="
      submit || optout ? 'bi-check-circle-fill' : 'bi-exclamation-octagon-fill'
    "
  ></i>

  <strong class="mx-2" *ngIf="submit || optout">Success!</strong>
  <div *ngIf="submit || optout">Your message has been sent successfully.</div>
  <strong class="mx-2" *ngIf="error">Error!</strong>
  <div *ngIf="error">
    A problem has been occurred while submitting your data.
  </div>

  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    (click)="close()"
  ></button>
</div>
