<!-- <form [formGroup]="multiSelectForm" (ngSubmit)="onSubmit()">
  <div class="form-group" formArrayName="selectedOptions">
    <label for="selectedOptions">Select Options (Multiple):</label>
    <select
      class="form-control"
      id="selectedOptions"
      multiple
      (change) ="addOption($event.target)"
    >
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
    <div
      *ngIf="selectedOptions.invalid && selectedOptions.touched"
      class="alert alert-danger"
    >
      Please select at least one option.
    </div>
  </div>
  <!-- <div class="d-flex flex-wrap gap-2">
    <button
      type="button"
      class="btn btn-primary"
      *ngFor="let option of options; let i = index"
      (click)="addOption(option)"
    >
      {{ option.label }}
    </button>
  </div> -->
<!-- <div class="list-group">
    <div
      class="list-group-item list-group-item-action"
      *ngFor="let control of selectedOptions.controls; let i = index"
    >
      <span class="badge bg-primary rounded-pill">{{ i + 1 }}</span>
      {{ showValue(control.value) }}
      <button
        type="button"
        class="btn btn-sm btn-danger float-end"
        (click)="removeOption(i)"
      >
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </div>
  <button type="submit" class="btn btn-success mt-2">Submit</button>
</form> -->

<!-- <form [formGroup]="multiSelectForm">
  <div formArrayName="selectedOptions">
    <select class="form-control" (change)="toggleSelection($event)">
      <option
        *ngFor="let option of options"
        [value]="option.label"
        [selected]="isSelected(option.value)"
      >
        {{ option.label }}
      </option>
    </select>
  </div>
  <div class="list-group">
  <div
    class="list-group-item list-group-item-action"
    *ngFor="let control of selectedOptions.controls; let i = index"
  >
    <span class="badge bg-primary rounded-pill">{{ i + 1 }}</span>
    {{ showValue(control) }}
    <button
      type="button"
      class="btn btn-sm btn-danger float-end"
      (click)="removeOption(i)"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
</div>
</form> -->

<form [formGroup]="multiSelectForm">
  <div>
    <div class="selected-option form-group input-group">
      <input formArrayName="selectedOptions" type="text"  (change)="search(selectedOptions.value)" (click)="selecttoggel()" >
      <div class="input-group-apend">
        <span
          class="input-group-text"
          (click)="removeOption()"
          id="basic-addon1"
          >X</span
        >
      </div>
    </div>
    <select
      class="form-control"
      multiple
      [hidden]="!select"
      (change)="onSelect($event)"
    >
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </div>
</form>
